@import '../../common/variables';

.portfolio {

    &__featured-projects {
        margin: auto;
        width: 850px;
        max-width: 95vw;
    }

    &__projects {
        max-width: 95vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: $spacer;
    }

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        margin-bottom: $spacer;
    }
}
