@import '../../common/varibles';

.portfolio {

    &__featured-projects {
        margin: auto;
        max-width: 850px;
    }

    &__projects {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2 {
        font-size: 20px;
        margin: 20px;
    }

    h3 {
        margin-bottom: $spacer;
    }
}
