@import '../../common/variables';

$graphic-position: 32px;

.work {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px $spacer;
    box-sizing: border-box;

    &__heading {
        font-weight: bold;
        border-bottom: 1px solid white;
    }

    &__section {
        display: grid;
        grid-template-columns: 7fr 3fr;
        align-self: center;

        * {
            padding: $spacer 0;
        }
    }

    &__subheading {
        font-weight: bold;
    }

    &__date {
        text-align: right;
        font-size: 20px;
    }

    &__description {
        grid-column: 1 / span 2;
        text-align: justify;
    }

    &__skills {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 20px;
        grid-column: 1 / span 2;
    }

    &__skill {
        background-color: #5B2333;
        padding: 3px;
        border-radius: 3px;

        &--container {
            margin: 6px;
        }
    }
}
