@import '../../common/breakpoints';
@import '../../common/variables.scss';

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media only screen and (max-width: $md-max) {
        margin-top: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }

    &__text {
        margin: 0 300px;
        @media only screen and (max-width: $xl-max) {
            margin: 0;
        }
    }
}
