@import '../../common/breakpoints';
@import '../../common/variables.scss';

.about {
    align-self: center;
    width: 40vw;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;

    &__image {
        margin: 20px;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border: 5px solid white;
        border-radius: 150px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    @media only screen and (max-width: $lg-max) {
        width: 75vw;
    }
}
