@import '../../common/breakpoints';
@import '../../common/variables.scss';

.about {
    text-align: center;

    &__image {
        height: 300px;
        background: radial-gradient(ellipse closest-side, $light-orange 0%, transparent 100%);
        border-radius: 150px;
    }

    &__text {
        margin: 0 200px;
        @media only screen and (max-width: $lg-max) {
            margin: $spacer;
        }
    }
}
