@import '../../../common/breakpoints';

.foreground {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;

    &__img {
        position: absolute;
        bottom: 0;
    }

    &__left {
        height: 600px;
        left: 0;

        @media only screen and (max-width: $lg-max) {
            display: none;
        }
    }

    &__right {
        height: 600px;
        right: 0;

        @media only screen and (max-width: $sm-max) {
            height: 300px;
        }
    }
}