@import '../../common/variables';
@import '../../common/breakpoints';

.featured-project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 35vh;
  grid-column-gap: $spacer;
  align-items: center;
  margin-bottom: 50px;

  &__left {
    grid-column: 1 / 8;
    grid-row: 1;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: $lg-max) {
      grid-column: 1 / -1;
    }
  }

  &__right {
    position: relative;
    z-index: 2;
    grid-row: 1;
    grid-column: 7 / -1;

    @media only screen and (max-width: $lg-max) {
      grid-column: 1 / -1;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;

    &--hide-mobile {
      display: block;
      text-align: center;

      @media only screen and (max-width: $lg-max) {
        display: none;
      }
    }

    &--hide-desktop {
      display: none;
      text-align: left;

      @media only screen and (max-width: $lg-max) {
        display: block;
      }
    }
  }

  &__description {
    border: 1px solid $light-orange;
    padding: $spacer;
    background: $dark-blue;
    transition: .2s;

    li {
      list-style-type: none;
      margin: 5px 0;
    }

    @media only screen and (max-width: $lg-max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba($dark-blue, 0.9);
      height: 100%;
      box-sizing: border-box;

      &:hover {
        opacity: 0;
      }
    }
  }

  &__technologies {
    text-align: right;
    text-transform: uppercase;

    li {
      color: $light-orange;
      padding: $spacer;
      display: inline;
      list-style-type: none;
    }

    @media only screen and (max-width: $md-max) {
      display: none;
    }
  }

  ul {
    margin: 0;
    padding: $spacer 0;
  }

  @media only screen and (max-width: $lg-max) {
    margin-bottom: $spacer;
    align-items: stretch;
  }
}
