.profile {
    text-align: center;

    &__heading {
        font-size: 100px;
        font-family: 'Codystar', cursive;
        color: white;
    }

    &__subheading {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 25px;
        font-weight: 300;
        color: white;
    }
}

