.navbar {
    width: 100vw;
    display: flex;
    z-index: 2;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 60px;
        background-color: white;
        margin-right: 1px;
        text-transform: uppercase;
        transition: .2s;
        font-family: 'Source Sans Pro', sans-serif;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }

    .active {
        background-color: transparent;
        color: white;
    }
}
