@import '../../breakpoints.scss';

.navbar {
    width: 100vw;
    display: flex;
    z-index: 3;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 60px;
        background-color: transparent;
        margin-right: 1px;
        text-transform: uppercase;
        transition: .2s;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;

        &:hover {
            background: linear-gradient(180deg,white 6px,transparent 6px);
            color: white;
        }
    }

    .active {
        background: linear-gradient(180deg,white 6px,transparent 6px);
    }

    &__text {
        display: inline-block;

        @media screen and (max-width: $sm-max) {
            display: none;
        }
    }

    &__icon {
        display: none;

        @media screen and (max-width: $sm-max) {
            display: inline-block;
        }
    }
}
