.navbar {
    width: 100vw;
    display: flex;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 60px;
        background-color: white;
        margin-right: 1px;
        text-transform: uppercase;

        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}
