@import '../../common/variables';
@import '../../common/breakpoints';

$item-height: 40px;

.footer {
    position: absolute;
    bottom: 0;
    margin-top: $spacer;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;

    svg {
        height: $item-height;
        width: $item-height;
        padding: $spacer;
    }

    &__links-container {
        white-space: nowrap;
    }
}
