@import '../../common/breakpoints';

.settings-bar {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: flex-end;
    width: 100vw;

    @media only screen and (max-width: $md-max) {
        position: relative;
        justify-content: center;
    }

    .button, .select {
        @media only screen and (max-width: $sm-max) {
            font-size: 14px;
            height: 25px;
        }
    }
}
