@import './common/variables';

.App {
    background: $dark-blue;
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    &__background {
        position: fixed;
    }

    &__content {
        min-height: 100vh;
        padding: 70px 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 3;
    }
}
