@import 'mixins';

.App {
    min-height: 100vh;
    @include gradient-animator(180deg, #0E1933, #CA9D8E);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__background {
        height: 100vh;
        width: auto;
        position: absolute;
        top: 0;
        left: -100px;
        -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
        transition:         all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

        &--front {
            z-index: 2;
            opacity: 0.8;
        }

        &--middle {
            z-index: 1;
            opacity: 0.6;
        }

        &--back {
            z-index: 0;
            opacity: 0.4;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
    }
}
