@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
        color: $light-orange;
    }
}

p a {
    color: $light-orange;
    background-color: $dark-blue;
    border-radius: 5px;
    padding: 3px;
    font-weight: bold;
    line-height: 25px;

    &:hover {
        background: white;
        color: $dark-blue;
    }
}

h1 {
    font-size: 100px;
    font-family: $stars;
    font-weight: 500;
    color: white;
}

h2 {
    margin: 10px 0;
    font-family: $body-font;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

h3 {
    margin: 0;
    color: white;
    font-family: $body-font;
    font-size: 20px;
    font-weight: 300;
}

p {
    margin: 0;
    color: white;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
}

li {
    color: white;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
}
