@import 'common/variables';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

#root {
    overflow-x: hidden;
}

a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
        color: $light-orange;
    }
}

p a {
    color: white;
    background-color: $highlight-red;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;

    &:hover {
        background: white;
        color: $highlight-red;
    }
}

h1 {
    font-size: 100px;
    font-family: $stars;
    font-weight: 500;
    color: white;
}

h2 {
    margin: $spacer 0;
    font-family: $body-font;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

h3 {
    margin: 0;
    color: white;
    font-family: $body-font;
    font-size: 20px;
    font-weight: 300;
}

p {
    margin: 0;
    color: white;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

li {
    color: white;
    font-family: $body-font;
    font-size: 16px;
    font-weight: 300;
}
