/* Fonts */
$stars: 'Codystar', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;

/* Colours */
$dark-blue: #0E1933;
$light-orange: #CA9D8E;
$highlight-red: #5B2333;

/* Layout */
$spacer: 10px;
